@mixin bp($bp, $type: 'screen and', $mq: 'max-width') {
  $query: '#{$type} (#{$mq}: #{$bp})';
  @media #{$query} {
    @content;
  }
}

@mixin above($bp, $type: 'screen and') {
  @include bp($bp, $type, $mq: 'min-width') {
    @content;
  }
}

@mixin below($bp, $type: 'screen and') {
  @include bp($bp, $type, $mq: 'max-width') {
    @content;
  }
}


@mixin between($bp-min, $bp-max, $type: 'screen and') {
  $query: '#{$type} (min-width: #{$bp-min}) and (max-width: #{$bp-max})';
  @media #{$query} {
    @content;
  }
}

@mixin orientation($orientation) {
  @media (orientation: $orientation) { @content; }
}

@mixin landscape() {
  @include orientation(landscape) { @content; }
}

@mixin portrait() {
  @include orientation(portrait) { @content; }
}




// Devices

@mixin iphone6plus($mode: null) {
  $viewports: (portrait, landscape);
  @if index($viewports, $mode) {
    $orientation: and (orientation : $mode);
  }
  @else {
    $orientation: null;
  }
  @media only screen and (min-device-width : 414px) and (max-device-width : 736px) #{$orientation} { @content; }
}


@mixin iphone6($mode: null) {
  $viewports: (portrait, landscape);
  @if index($viewports, $mode) {
    $orientation: and (orientation : $mode);
  }
  @else {
    $orientation: null;
  }
  @media only screen and (min-device-width : 375px) and (max-device-width : 667px) #{$orientation} { @content; }
}


@mixin iphone5($mode: null) {
  $viewports: (portrait, landscape);
  @if index($viewports, $mode) {
    $orientation: and (orientation : $mode);
  }
  @else {
    $orientation: null;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) #{$orientation} { @content; }
}

@mixin iphone4($mode: null) {
  $viewports: (portrait, landscape);
  @if index($viewports, $mode) {
    $orientation: and (orientation : $mode);
  }
  @else {
    $orientation: null;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) #{$orientation} { @content; }
}
