device($min, $max, $mode = null)
  $viewports = 'portrait', 'landscape';
  if $mode in $viewports
    $query = 'only screen and (min-device-width: %s) and (max-device-width: %s) and (orientation: %s)' % ($min $max unquote($mode));
  else
    $query = 'only screen and (min-device-width: %s) and (max-device-width: %s)' % ($min $max);

  @media $query
    {block}



iphone6plus($mode = null)
  +device(414px, 736px, $mode)
    {block}


iphone6($mode = null)
  +device(375px, 667px, $mode)
    {block}


iphone5($mode = null)
  +device(320px, 568px, $mode)
    {block}


iphone4($mode = null)
  +device(320px, 480px, $mode)
    {block}
