// Horizontal Mediaqueries
above($min, $type = $bp-screen)
  +bp($min, $mq = 'min-width', $type)
    {block}

below($min, $type = $bp-screen)
  +bp($min, $mq = 'max-width', $type)
    {block}

between($min, $max, $type = $bp-screen)
  if $type != ''
    $type: $type + ' and';

  $query = $type + ' (min-width: ' + $min + ') and (max-width: ' + $max + ')';
  @media $query
    {block}
