// Device Rotation Mediaqueries
orientation($orientation = landscape)
  @media (orientation: $orientation)
    {block}

landscape()
  +orientation(landscape)
    {block}

portrait()
  +orientation(portrait)
    {block}
